body {
    padding: 40px;
}

.row,
.rowOfNewPet {
    display: flex;
    background-color: #EFEEED;
    margin: 10px;
    height: 60px;
    max-width: 850px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.rowOfNewPet {
    margin-left: -15px;
}

form {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    justify-content: space-between;
    max-width: 830px;
}

#pseudo,
#breed {
    width: 280px;
    height: 30px;
}

.addpet {
    height: 33px;
    width: 120px;
    background-color: #A8B32C;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 30px;
    font-size: 0.9em;
    padding-top: 3px;
}

.firstBox {
    display: flex;
}

.secondBox {
    display: flex;
}

.index {
    display: flex;
    margin-right: 40px;
    padding-top: 5px;
}

.avatar {
    display: flex;
    background-image: url('avatar.png');
    background-repeat: no-repeat;
    padding-right: 40px;
    margin-right: 20px;
}

.name {
    display: flex;
    margin-right: 20px;
    padding-top: 5px;
}

.Breed {
    display: flex;
    margin-right: 10px;
    color: grey;
    font-size: 0.8em;
    font-style: italic;
    padding-top: 5px;
}

.delete {
    display: flex;
    font-size: 0.8em;
    color: #c86a6a;
    justify-self: right;
    padding-top: 7px;
}